src/conf/xml-resources/web-service-references/WebServiceControleVendas/wsdl/localhost_8080/WebServiceControleVendas/WebServiceControleVendas.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="RetornarTotalPedido" type="tns:RetornarTotalPedido"/>

<xs:element name="RetornarTotalPedidoResponse" type="tns:RetornarTotalPedidoResponse"/>

<xs:complexType name="RetornarTotalPedido">
<xs:sequence>
<xs:element name="idPedido" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RetornarTotalPedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>